page-settingbackup {
    .p-custom{
        margin-top:10px; 
        white-space: normal;
    }

    .p-title-custom{
        color: #154fb5;
        margin-bottom: 5px;
    }

    .button-custom{
        height: 30px !important;
        margin: 16px 16px 16px 0px;
    }
}
